name: .NET

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Build
      run: dotnet build src -c Release

    - name: Upload nupkg artifact
      uses: actions/upload-artifact@v4
      with:
        name: nupkg
        path: 'src/InternalsVisibleToPatcher/bin/Release/*.nupkg'
